In [72]:
## connexion 

from sqlalchemy import create_engine, MetaData,Table, Text , DateTime , CheckConstraint , ForeignKey ,  Column, Numeric, insert, Integer,VARCHAR, update, text, delete
from sqlalchemy.engine import result
from datetime import datetime
# DEFINE THE DATABASE CREDENTIALS
user = 'postgres'
password = 'ycode'
host = '127.0.0.1'
port = 5432
database = 'restaurant_db'

# PYTHON FUNCTION TO CONNECT TO THE POSTGRESQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    # engine = create_engine('postgresql://user:password@localhost:5432/restaurant_db')
    return create_engine(
        url="postgresql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )


if __name__ == '__main__':

    try:
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)


# initialize the Metadata Object
meta = MetaData()
meta.reflect(bind=engine)

clients = meta.tables["clients"]
commandes = meta.tables["commandes"]
plats = meta.tables["plats"]
categories = meta.tables["categories"]
ingredients = meta.tables["ingredients"]
commande_plats = meta.tables["commande_plats"]
plat_ingredients = meta.tables["plat_ingredients"]
avis = meta.tables["avis"]
fournisseurs =meta.tables["fournisseurs"]

Connection to the 127.0.0.1 for user postgres created successfully.

In [25]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
from sqlalchemy import create_engine, MetaData,Table, Text , DateTime , CheckConstraint , ForeignKey ,  Column, Numeric, insert, Integer,VARCHAR, update, text, delete
from sqlalchemy.engine import result
from datetime import datetime
# DEFINE THE DATABASE CREDENTIALS
user = 'postgres'
password = 'ycode'
host = '127.0.0.1'
port = 5432
database = 'restaurant_db'

# PYTHON FUNCTION TO CONNECT TO THE POSTGRESQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    # engine = create_engine('postgresql://user:password@localhost:5432/restaurant_db')
    return create_engine(
        url="postgresql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )


if __name__ == '__main__':

    try:
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)


# initialize the Metadata Object
meta = MetaData()


# create a table schema
categories = Table(
    'categories', meta,
    Column('id', Integer, primary_key=True),
    Column('nom', VARCHAR)
)
meta.create_all(engine)
# insert records into the table
statement1 = categories.insert().values(id=1,
                                   nom="Entrée"
                                   )
statement2 = categories.insert().values(id=2,
                                   nom="Plat principal"
                                   )
statement3 = categories.insert().values(id=3,
                                   nom="Dessert"
                                   )
statement4 = categories.insert().values(id=4,
                                   nom="Boisson"
                                   )
statement5 = categories.insert().values(id=5,
                                   nom="Végétarien"
                                   )

# execute the insert records statement
# with engine.connect() as conn:
    # conn.execute(statement1)
    # conn.execute(statement2)
    # conn.execute(statement3)
    # conn.execute(statement4)
    # conn.execute(statement5)
    # conn.commit()


###### plat :
plats = Table(
    'plats', meta,
    Column('id', Integer, primary_key=True),
    Column('nom', VARCHAR) , 
    Column('prix', Numeric ) , 
    Column('description', VARCHAR) , 
    Column('categorie_id', Integer  , ForeignKey("categories.id")) , 
)
meta.create_all(engine)


# with engine.connect() as conn:
#     conn.execute(plats.insert(), [
#         {"id": 1, "nom": "Salade César","prix":45 , "description":"Salade avec poulet grillé" , "categorie_id": 1},
#         {"id": 2, "nom": "Soupe de légumes","prix":45 , "description":"Soupe chaude de saison" , "categorie_id": 1},
#         {"id": 3, "nom": "Steak frites","prix":90.00 , "description":"Viande grillée et frites" , "categorie_id": 2},
#         {"id": 4, "nom": "Pizza Margherita","prix":70.00 , "description":"Pizza tomate & mozzarella" , "categorie_id": 2},
#         {"id": 5, "nom": "Tiramisu","prix":35 , "description":"Dessert italien" , "categorie_id": 3},
#         {"id": 6, "nom": "Glace 2 boules","prix":25 , "description":"Glace au choix" , "categorie_id": 3},
#         {"id": 7, "nom": "Coca-Cola","prix":15.00 , "description":"Boisson gazeuse" , "categorie_id": 4},
#         {"id": 8, "nom": "Eau minérale","prix":10.00 , "description":"Eau plate ou gazeuse" , "categorie_id": 4},
#         {"id": 9, "nom": "Curry de légumes","prix":65.00 , "description":"Plat végétarien épicé" , "categorie_id": 5},
#         {"id": 10, "nom": "Falafel wrap","prix":50.00 , "description":"Wrap avec falafels et légumes" , "categorie_id": 5},

#     ])
#     conn.commit()


## clients : 

clients = Table(
    'clients', meta,
    Column('id', Integer, primary_key=True),
    Column('nom', VARCHAR) , 
    Column('email', VARCHAR) , 
     Column('telephone', VARCHAR) 
)
meta.create_all(engine)


# with engine.connect() as conn:
#     conn.execute(clients.insert(), [
#         {"nom": "Amine Lahmidi","email":"amine@example.com" , "telephone": "+212600123456"},
#         {"nom": "Sara Benali","email":"sara.b@example.com" , "telephone": "+212600123456"},
#         { "nom": "Youssef El Khalfi","email":"youssef.k@example.com" , "telephone": None},
#         { "nom": "Fatima Zahra","email":"fatima.z@example.com" , "telephone": "+212600987654"},
#         {"nom": "Omar Alaoui","email":"omar.a@example.com" , "telephone": "+212600112233"},
#   ])
#     conn.commit()

## commande
commandes = Table(
    "commandes", meta,
    Column("id", Integer, primary_key=True),
    Column("client_id", Integer, ForeignKey("clients.id")),
    Column("date_commande", DateTime),
    Column("total", Numeric(10, 2))
)

meta.create_all(engine)

# with engine.connect() as conn:
#     conn.execute(commandes.insert(), [
#         {"id": 1, "client_id": 1, "date_commande": datetime(2025, 7, 7, 12, 30), "total": 120.00},
#         {"id": 2, "client_id": 2, "date_commande": datetime(2025, 7, 7, 13, 0), "total": 85.00},
#         {"id": 3, "client_id": 1, "date_commande": datetime(2025, 7, 8, 19, 45), "total": 150.00},
#         {"id": 4, "client_id": 3, "date_commande": datetime(2025, 8, 15, 18, 30), "total": 200.00},
#         {"id": 5, "client_id": 4, "date_commande": datetime(2025, 9, 1, 20, 0), "total": 95.00},
#         {"id": 6, "client_id": 5, "date_commande": datetime(2025, 9, 10, 12, 15), "total": 75.00}
#     ])
#     conn.commit()


##commande plats

commande_plats= Table(
    "commande_plats", meta,
    Column("commande_id", Integer, ForeignKey("commandes.id")),
    Column("plat_id", Integer, ForeignKey("plats.id")),
    Column("quantite", Numeric(10, 2))
)
fournisseurs = Table(
    'fournisseurs', meta,
    Column('id', Integer, primary_key=True),
    Column('nom', VARCHAR) , 
    Column('contact', VARCHAR)
)
ingredients = Table(
    "ingredients", meta,
    Column("id", Integer, primary_key=True),
    Column("nom", VARCHAR),
    Column("cout_unitaire", Numeric(10, 2)),
    Column("stock", Numeric(10, 2)),
    Column("fournisseur_id" , Integer , ForeignKey("fournisseurs.id"))
)
plat_ingredients = Table(
    "plat_ingredients", meta,
    Column("plat_id", Integer, ForeignKey("plats.id"), primary_key=True),
    Column("ingredient_id", Integer, ForeignKey("ingredients.id"), primary_key=True),
    Column("quantite_necessaire", Numeric(10, 2), nullable=False)
)

avis = Table(
    "avis", meta,
    Column("id", Integer, primary_key=True),
    Column("client_id", Integer, ForeignKey("clients.id"), nullable=False),
    Column("plat_id", Integer, ForeignKey("plats.id"), nullable=False),
    Column("note", Integer, CheckConstraint("note >= 1 AND note <= 5"), nullable=False),
    Column("commentaire", Text, nullable=True),
    Column("date_avis", DateTime, nullable=False)
)
meta.create_all(engine)

Connection to the 127.0.0.1 for user postgres created successfully.

In [ ]:
##question 2 
from sqlalchemy import (
    create_engine, MetaData, Table, Column, Integer, String, Text,
    DateTime, CheckConstraint, ForeignKey, Numeric, VARCHAR
)
from datetime import datetime

user = 'postgres'
password = 'ycode'
host = '127.0.0.1'
port = 5432
database = 'restaurant_db'

def get_connection():
    return create_engine(
        url=f"postgresql://{user}:{password}@{host}:{port}/{database}"
    )

engine = get_connection()
meta = MetaData()


fournisseurs = Table("fournisseurs", meta, autoload_with=engine)
ingredients = Table("ingredients", meta, autoload_with=engine)
plat_ingredients = Table("plat_ingredients", meta, autoload_with=engine)
avis = Table("avis", meta, autoload_with=engine)

#Insert
with engine.connect() as conn:

    conn.execute(fournisseurs.insert(), [
        {"id": 1, "nom": "AgriFresh", "contact": "contact@agrifresh.com"},
        {"id": 2, "nom": "MeatSupplier", "contact": "info@meatsupplier.com"},
        {"id": 3, "nom": "BevCo", "contact": "sales@bevco.com"},
        {"id": 4, "nom": "DairyFarm", "contact": "dairy@farm.com"},
    ])

    conn.execute(ingredients.insert(), [
        {"id": 1, "nom": "Poulet", "cout_unitaire": 15.00, "stock": 50, "fournisseur_id": 2},
        {"id": 2, "nom": "Laitue", "cout_unitaire": 5.00, "stock": 20, "fournisseur_id": 1},
        {"id": 3, "nom": "Tomate", "cout_unitaire": 3.00, "stock": 30, "fournisseur_id": 1},
        {"id": 4, "nom": "Mozzarella", "cout_unitaire": 10.00, "stock": 15, "fournisseur_id": 4},
        {"id": 5, "nom": "Pomme de terre", "cout_unitaire": 2.00, "stock": 100, "fournisseur_id": 1},
        {"id": 6, "nom": "Café", "cout_unitaire": 20.00, "stock": 5, "fournisseur_id": 3},
        {"id": 7, "nom": "Sucre", "cout_unitaire": 1.50, "stock": 25, "fournisseur_id": 3},
        {"id": 8, "nom": "Pois chiches", "cout_unitaire": 4.00, "stock": 40, "fournisseur_id": 1},
    ])

    # Plat_ingredients
    conn.execute(plat_ingredients.insert(), [
        {"plat_id": 1, "ingredient_id": 1, "quantite_necessaire": 0.2},
        {"plat_id": 1, "ingredient_id": 2, "quantite_necessaire": 0.1},
        {"plat_id": 2, "ingredient_id": 2, "quantite_necessaire": 0.05},
        {"plat_id": 2, "ingredient_id": 5, "quantite_necessaire": 0.1},
        {"plat_id": 3, "ingredient_id": 1, "quantite_necessaire": 0.3},
        {"plat_id": 3, "ingredient_id": 5, "quantite_necessaire": 0.2},
        {"plat_id": 4, "ingredient_id": 3, "quantite_necessaire": 0.1},
        {"plat_id": 4, "ingredient_id": 4, "quantite_necessaire": 0.15},
        {"plat_id": 5, "ingredient_id": 6, "quantite_necessaire": 0.05},
        {"plat_id": 5, "ingredient_id": 7, "quantite_necessaire": 0.02},
        {"plat_id": 9, "ingredient_id": 8, "quantite_necessaire": 0.1},
        {"plat_id": 10, "ingredient_id": 8, "quantite_necessaire": 0.15},
    ])

    # Avis
    conn.execute(avis.insert(), [
        {"id": 1, "client_id": 1, "plat_id": 1, "note": 4, "commentaire": "Très frais, poulet bien cuit", "date_avis": datetime(2025, 7, 7, 13, 0)},
        {"id": 2, "client_id": 2, "plat_id": 4, "note": 5, "commentaire": "Meilleure pizza du coin !", "date_avis": datetime(2025, 7, 7, 14, 0)},
        {"id": 3, "client_id": 3, "plat_id": 9, "note": 3, "commentaire": "Un peu trop épicé", "date_avis": datetime(2025, 8, 15, 19, 0)},
        {"id": 4, "client_id": 4, "plat_id": 10, "note": 4, "commentaire": "Bon, mais manque de sauce", "date_avis": datetime(2025, 9, 1, 21, 0)},
        {"id": 5, "client_id": 5, "plat_id": 6, "note": 5, "commentaire": "Glace délicieuse", "date_avis": datetime(2025, 9, 10, 13, 0)},
    ])

    conn.commit()

In [ ]:
from datetime import datetime



with engine.connect() as conn:
    conn.execute(clients.insert(), [
        {"nom": "Amine Lahmidi","email":"amine@example.com" , "telephone": "+212600123456"},
        {"nom": "Sara Benali","email":"sara.b@example.com" , "telephone": "+212600123456"},
        { "nom": "Youssef El Khalfi","email":"youssef.k@example.com" , "telephone": None},
        { "nom": "Fatima Zahra","email":"fatima.z@example.com" , "telephone": "+212600987654"},
        {"nom": "Omar Alaoui","email":"omar.a@example.com" , "telephone": "+212600112233"},
  ])


with engine.connect() as conn:
    conn.execute(commandes.insert(), [
        {"id": 1, "client_id": 1, "date_commande": datetime(2025, 7, 7, 12, 30), "total": 120.00},
        {"id": 2, "client_id": 2, "date_commande": datetime(2025, 7, 7, 13, 0), "total": 85.00},
        {"id": 3, "client_id": 1, "date_commande": datetime(2025, 7, 8, 19, 45), "total": 150.00},
        {"id": 4, "client_id": 3, "date_commande": datetime(2025, 8, 15, 18, 30), "total": 200.00},
        {"id": 5, "client_id": 4, "date_commande": datetime(2025, 9, 1, 20, 0), "total": 95.00},
        {"id": 6, "client_id": 5, "date_commande": datetime(2025, 9, 10, 12, 15), "total": 75.00}
    ])



with engine.connect() as conn:
    conn.execute(commande_plats.insert(), [
        {"commande_id": 1, "plat_id": 1, "quantite": 1},
        {"commande_id": 1, "plat_id": 3, "quantite": 1},
        {"commande_id": 1, "plat_id": 7, "quantite": 2},
        {"commande_id": 2, "plat_id": 2, "quantite": 1},
        {"commande_id": 2, "plat_id": 4, "quantite": 1},
        {"commande_id": 2, "plat_id": 8, "quantite": 1},
        {"commande_id": 3, "plat_id": 3, "quantite": 1},
        {"commande_id": 3, "plat_id": 5, "quantite": 1},
        {"commande_id": 3, "plat_id": 7, "quantite": 1},
        {"commande_id": 4, "plat_id": 4, "quantite": 2},
        {"commande_id": 4, "plat_id": 9, "quantite": 1},
        {"commande_id": 5, "plat_id": 10, "quantite": 1},
        {"commande_id": 5, "plat_id": 8, "quantite": 2},
        {"commande_id": 6, "plat_id": 7, "quantite": 3},
        {"commande_id": 6, "plat_id": 6, "quantite": 1}
    ])
    conn.commit()

In [ ]:
##question 3  /   Lister tous les plats triés par prix décroissant.

from sqlalchemy import select

with engine.connect() as conn:  # engine vient de create_engine(...)
    rslt = conn.execute(select(plats).order_by(plats.c.prix.desc()))
    for record in rslt:
        print("\n", record)

 (3, 'Steak frites', Decimal('90.0'), 'Viande grillée et frites', 2)

 (4, 'Pizza Margherita', Decimal('70.0'), 'Pizza tomate & mozzarella', 2)

 (9, 'Curry de légumes', Decimal('65.0'), 'Plat végétarien épicé', 5)

 (10, 'Falafel wrap', Decimal('50.0'), 'Wrap avec falafels et légumes', 5)

 (1, 'Salade César', Decimal('45'), 'Salade avec poulet grillé', 1)

 (2, 'Soupe de légumes', Decimal('45'), 'Soupe chaude de saison', 1)

 (5, 'Tiramisu', Decimal('35'), 'Dessert italien', 3)

 (6, 'Glace 2 boules', Decimal('25'), 'Glace au choix', 3)

 (7, 'Coca-Cola', Decimal('15.0'), 'Boisson gazeuse', 4)

 (8, 'Eau minérale', Decimal('10.0'), 'Eau plate ou gazeuse', 4)

In [ ]:
## question 4 :: Lister tous les plats dont le prix est compris entre 30 et 80.

from sqlalchemy import select

with engine.connect() as conn:  # engine vient de create_engine(...)
    rslt = conn.execute(select(plats).where(plats.c.prix.between(30 , 80)))
    for record in rslt:
        print("\n", record)

 (1, 'Salade César', Decimal('45'), 'Salade avec poulet grillé', 1)

 (2, 'Soupe de légumes', Decimal('45'), 'Soupe chaude de saison', 1)

 (4, 'Pizza Margherita', Decimal('70.0'), 'Pizza tomate & mozzarella', 2)

 (5, 'Tiramisu', Decimal('35'), 'Dessert italien', 3)

 (9, 'Curry de légumes', Decimal('65.0'), 'Plat végétarien épicé', 5)

 (10, 'Falafel wrap', Decimal('50.0'), 'Wrap avec falafels et légumes', 5)

In [40]:
## question 5 :: Afficher les clients dont le nom commence par "S" ou "F".

from sqlalchemy import select , or_

with engine.connect() as conn:  # engine vient de create_engine(...)
    rslt = conn.execute(select(clients).where(or_(clients.c.nom.like("S%") , clients.c.nom.like("F%"))))
    for record in rslt:
        print("\n", record)

 (2, 'Sara Benali', 'sara.b@example.com', '+212600123456')

 (4, 'Fatima Zahra', 'fatima.z@example.com', '+212600987654')

In [ ]:
## question 6 :: Afficher les plats avec leur nom de catégorie et le nom du fournisseur principal (via l'ingrédient le plus utilisé).

In [20]:
##  question 7 : Lister les commandes avec le nom du client, la date, et le nombre total de plats commandés.
from sqlalchemy import select , func

stmt = (select(commandes.c.id, clients.c.nom.label("nomClient") , func.sum(commande_plats.c.quantite).label("qte"))
    .join(clients, commandes.c.client_id == clients.c.id)
    .join(commande_plats , commande_plats.c.commande_id == commande_plats.c.commande_id)
    .group_by(commandes.c.id, clients.c.nom) 
    )

with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print("\n", record)

 (1, 'Amine Lahmidi', Decimal('20.00'))

 (2, 'Sara Benali', Decimal('20.00'))

 (3, 'Amine Lahmidi', Decimal('20.00'))

 (4, 'Youssef El Khalfi', Decimal('20.00'))

 (5, 'Fatima Zahra', Decimal('20.00'))

 (6, 'Omar Alaoui', Decimal('20.00'))

In [18]:
##  question 8 :  Pour chaque commande, afficher les plats commandés, leur quantité, et le coût total des ingrédients.
# select c.id , p.nom , cp.quantite , sum(cp.quantite *pi.quantite_necessaire * i.cout_unitaire) as cout_Total_ingredients from commandes c
# join commande_plats cp on c.id = cp.commande_id
# join plats p on p.id = cp.plat_id
# join plat_ingredients pi on  p.id = pi.plat_id
# join ingredients i on  i.id = pi.ingredient_id
# group by c.id , p.nom , cp.quantite 
# order by c.id

from sqlalchemy import select , func

cmd = commandes.alias("cmd")
p = plats.alias("p")
cp = commande_plats.alias("cp")
pi = plat_ingredients.alias("pi")
i = ingredients.alias("i") 

stmt = (
    select(
        cmd.c.id.label("id_cmd"),
        p.c.nom.label("plat"),
        cp.c.quantite.label("quantite"),
        func.sum(cp.c.quantite * pi.c.quantite_necessaire * i.c.cout_unitaire)
            .label("cout_total_ingredients")
    )
    .join(cp, cmd.c.id == cp.c.commande_id)
    .join(p, p.c.id == cp.c.plat_id)
    .join(pi, p.c.id == pi.c.plat_id)
    .join(i, i.c.id == pi.c.ingredient_id)
    .group_by(cmd.c.id, p.c.nom, cp.c.quantite)
    .order_by(cmd.c.id)
)


with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print("\n", record)

 (1, 'Salade César', Decimal('1.00'), Decimal('3.500000'))

 (1, 'Steak frites', Decimal('1.00'), Decimal('4.900000'))

 (2, 'Pizza Margherita', Decimal('1.00'), Decimal('1.800000'))

 (2, 'Soupe de légumes', Decimal('1.00'), Decimal('0.450000'))

 (3, 'Steak frites', Decimal('1.00'), Decimal('4.900000'))

 (3, 'Tiramisu', Decimal('1.00'), Decimal('1.030000'))

 (4, 'Curry de légumes', Decimal('1.00'), Decimal('0.400000'))

 (4, 'Pizza Margherita', Decimal('2.00'), Decimal('3.600000'))

 (5, 'Falafel wrap', Decimal('1.00'), Decimal('0.600000'))

In [ ]:
##  question 9 :  Afficher le nombre de plats pour chaque catégorie, y compris celles sans plats.

from sqlalchemy import select, func

catg = categories.alias("cat")
p = plats.alias("p")

stmt = (
    select(
        catg.c.nom.label("nom_categorie"),
        func.count(p.c.id).label("nombre_de_plats")
    )
    .select_from(catg.outerjoin(p, catg.c.id == p.c.categorie_id))  
    .order_by(catg.c.nom)
)

with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print(record)

('Boisson', 2)
('Dessert', 2)
('Entrée', 2)
('Plat principal', 2)
('Végétarien', 2)

In [ ]:
##  question 10  : Afficher le prix moyen des plats par catégorie et le coût moyen des ingrédients par plat.
from sqlalchemy import select, func

catg = categories.alias("cat")
p = plats.alias("p")
cp = commande_plats.alias("cp")
pi = plat_ingredients.alias("pi")
i = ingredients.alias("i")  


stmt = (
    select(
        catg.c.nom.label("nom_categorie"),
        func.avg(p.c.prix).label("moyen_prix"),
        func.avg(pi.c.quantite_necessaire * i.c.cout_unitaire).label("cout moyen ingredien")
    )
    .join(p, catg.c.id == p.c.categorie_id)
    .join(pi, p.c.id == pi.c.plat_id)
    .join(i, i.c.id == pi.c.ingredient_id)
    .group_by(catg.c.nom)
    .order_by(catg.c.nom)
)

with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print(record)

('Dessert', Decimal('35.0000000000000000'), Decimal('0.51500000000000000000'))
('Entrée', Decimal('45.0000000000000000'), Decimal('0.98750000000000000000'))
('Plat principal', Decimal('80.0000000000000000'), Decimal('1.6750000000000000'))
('Végétarien', Decimal('57.5000000000000000'), Decimal('0.50000000000000000000'))

In [9]:
##  question 11 :  Afficher le nombre de commandes par client, trié par ordre décroissant.

from sqlalchemy  import select , func
clt = clients.alias("clt")
cmd = commandes.alias("cmd")
stmt = (
    select(
        clt.c.nom ,
        func.count(cmd.c.id)
    )
    .join(
        cmd , cmd.c.client_id == clt.c.id
    )
    .group_by(clt.c.nom)
)
with engine.connect()  as conn :
    rslt = conn.execute(stmt)
    for record in rslt : 
        print(record)

('Fatima Zahra', 1)
('Amine Lahmidi', 2)
('Omar Alaoui', 1)
('Youssef El Khalfi', 1)
('Sara Benali', 1)

In [11]:
# question 12 :Afficher les clients ayant passé plus de deux commandes.
from sqlalchemy  import select , func
clt = clients.alias("clt")
cmd = commandes.alias("cmd")
stmt = (
    select(
        clt.c.nom ,
        func.count(cmd.c.id).label("nombre de plats")
    )
    .join(
        cmd , cmd.c.client_id == clt.c.id
    )
    .group_by(clt.c.nom)
    .having(func.count(cmd.c.id)>=2)
)
with engine.connect()  as conn :
    rslt = conn.execute(stmt)
    for record in rslt : 
        print(record)

('Amine Lahmidi', 2)

In [21]:
# question 13 : Lister les plats commandés plus de trois fois avec leur total de quantités et leur note moyenne (via avis).
from sqlalchemy import select, func

plt = plats.alias("plt")
cp = commande_plats.alias("cp")
cmd = commandes.alias("cmd")
av = avis.alias("av")

stmt = (
    select(
        plt.c.nom.label("plat"),
        func.sum(cp.c.quantite).label("total_quantite"),
        func.avg(av.c.note).label("note_moyenne")
    )
    .select_from(cp)
    .join(cmd, cmd.c.id == cp.c.commande_id)
    .join(plt, plt.c.id == cp.c.plat_id)
    .outerjoin(av, av.c.plat_id == plt.c.id) 
    .group_by(plt.c.nom)
    .having(func.sum(cp.c.quantite) >= 3)   
    .order_by(func.sum(cp.c.quantite).desc())
)

with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print(record)

('Coca-Cola', Decimal('6.00'), None)
('Pizza Margherita', Decimal('3.00'), Decimal('5.0000000000000000'))
('Eau minérale', Decimal('3.00'), None)

In [28]:
# question 14 : Lister les commandes du troisième trimestre 2025 (juillet à septembre).
from sqlalchemy import select, func
cp = commande_plats.alias("cp")
cmd = commandes.alias('cmd')
stmt = (
    select(
        cmd.c.id  , cmd.c.date_commande
    )
   
    .where (cmd.c.date_commande.between("01-01-2025","30-09-2025"))
)
with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print(record)

(1, datetime.datetime(2025, 7, 7, 12, 30))
(2, datetime.datetime(2025, 7, 7, 13, 0))
(3, datetime.datetime(2025, 7, 8, 19, 45))
(4, datetime.datetime(2025, 8, 15, 18, 30))
(5, datetime.datetime(2025, 9, 1, 20, 0))
(6, datetime.datetime(2025, 9, 10, 12, 15))

In [35]:
# question 15 :  Afficher la commande la plus récente avec le nom du client et les plats commandés.
from sqlalchemy import select , func , desc

cmd = commandes.alias("cmd")
plt = plats.alias("plt")
cp = commande_plats.alias("cp")
clt = clients.alias("clt")

stmt = (
    select(
        cmd.c.id.label("id_cmd"),
        clt.c.nom.label("nom client"),
        plt.c.nom.label("plat")
    
    )
    .select_from(cmd)
    .join(cp, cmd.c.id == cp.c.commande_id)
    .join(plt, plt.c.id == cp.c.plat_id)
    .join(clt, clt.c.id == cmd.c.client_id)
    .order_by(desc(cmd.c.date_commande))
    .limit(1)
)


with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print("\n", record)

 (6, 'Omar Alaoui', 'Coca-Cola')

In [36]:
# question 16 : Afficher les clients ayant passé une commande d’un montant supérieur à 150, avec leur numéro de téléphone.
from sqlalchemy import select , func , desc

cmd = commandes.alias("cmd")
plt = plats.alias("plt")
cp = commande_plats.alias("cp")
clt = clients.alias("clt")

stmt = (
    select(
        clt.c.nom.label("nom client"),
        clt.c.telephone.label("telephone"),
        cmd.c.id.label("id_cmd"),
        cmd.c.total.label("total"),
        
    
    )
    .select_from(cmd)
    .join(clt, clt.c.id == cmd.c.client_id)
    .where(cmd.c.total>150)
    .order_by(desc(cmd.c.total))
    
)


with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print("\n", record)

 ('Youssef El Khalfi', None, 4, Decimal('200.00'))

In [ ]:
# question 17 : Afficher les plats dont le coût total des ingrédients est supérieur à 50% du prix du plat.

In [40]:
# question 18 : Ajouter un nouveau plat dans la catégorie "Végétarien" avec deux ingrédients.

with engine.begin() as conn:


    conn.execute(plats.insert(), [
        { "id": 11 ,"nom": "beldi","prix":45 , "description":"beldi delicieux" , "categorie_id": 5},
  ])


    conn.execute(plat_ingredients.insert(), [
        {"plat_id": 11, "ingredient_id": 1, "quantite_necessaire": 0.2},
        {"plat_id": 11, "ingredient_id": 8, "quantite_necessaire": 0.5},
    ])

In [ ]:
# question 19 : Supprimer le client "Youssef El Khalfi", ses commandes, et ses avis.


## avant la supprission il faut ajouter des constraintes on cascade
from sqlalchemy import delete

with engine.begin() as conn :

    ##commandes
    conn.execute(
        text("""
            alter table commandes 
             drop constraint if exists commandes_client_id_fkey
        """)
    )

    conn.execute(
        text("""
            alter table commandes 
            add constraint commandes_client_id_fkey
            Foreign key (client_id)
            References clients(id)
            on delete cascade
        """)
    )

    ## plat_commande
    conn.execute(
        text("""
            alter table commande_plats 
             drop constraint if exists commande_plats_commande_id_fkey
        """)
    )

    conn.execute(
        text("""
            alter table commande_plats 
            add constraint commande_plats_commande_id_fkey
            Foreign key (commande_id)
            References commandes(id)
            on delete cascade
        """)
    )

        ## avis

    conn.execute(
        text("""
            alter table avis
             drop constraint if exists avis_client_id_fkey
        """)
    )

    conn.execute(
        text("""
            alter table avis
            add constraint avis_client_id_fkey
            Foreign key (client_id)
            References clients(id)
            on delete cascade
        """)
    )

In [ ]:
## la suite 
from sqlalchemy import delete

with engine.begin() as conn :
    stmt = delete(clients).where(clients.c.nom == "Youssef El Khalfi")
    conn.execute(stmt)
    print(stmt)

DELETE FROM clients WHERE clients.nom = :nom_1

In [49]:

# question 20  : Afficher pour chaque client :
    # Son nom
    # Le nombre total de plats commandés
    # Le montant total dépensé
    # La note moyenne de leurs avis

from sqlalchemy import select, func

plt = plats.alias("plt")
cp = commande_plats.alias("cp")
cmd = commandes.alias("cmd")
av = avis.alias("av")
clt = clients.alias("clt")
stmt = (
    select(
        clt.c.nom.label("nomClient") , 
        func.sum(cp.c.quantite).label("total_quantite"),
        func.sum(cmd.c.total).label("total_depense"),
        func.avg(av.c.note).label("note_moyenne")
    )
    .select_from(clt)
    .join(cmd , clt.c.id == cmd.c.client_id)
    .join(cp, cmd.c.id == cp.c.commande_id)
    .join(plt, plt.c.id == cp.c.plat_id)
    .outerjoin(av, av.c.plat_id == plt.c.id) 
    .group_by(clt.c.nom)
    .order_by(func.sum(cp.c.quantite).desc())
)

with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print(record)

('Amine Lahmidi', Decimal('7.00'), Decimal('810.00'), Decimal('4.0000000000000000'))
('Omar Alaoui', Decimal('4.00'), Decimal('150.00'), Decimal('5.0000000000000000'))
('Fatima Zahra', Decimal('3.00'), Decimal('190.00'), Decimal('4.0000000000000000'))
('Sara Benali', Decimal('3.00'), Decimal('255.00'), Decimal('5.0000000000000000'))

In [58]:
# question 21 : Lister les 3 plats les plus commandés (par quantité totale) avec leur catégorie.
from sqlalchemy import select, func, desc

plt = plats.alias("plt")
cp = commande_plats.alias("cp")
catg = categories.alias("categ")

stmt = (
    select(
        plt.c.nom.label("nom_plat"),
        catg.c.nom.label("categorie"),
        func.sum(cp.c.quantite).label("total_quantite"),
    )
    .select_from(cp)
    .join(plt, plt.c.id == cp.c.plat_id)
    .join(catg, catg.c.id == plt.c.categorie_id)
    .group_by(plt.c.nom, catg.c.nom)
    .order_by(desc("total_quantite"))
    .limit(3)
)

with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print(record)

('Coca-Cola', 'Boisson', Decimal('6.00'))
('Eau minérale', 'Boisson', Decimal('3.00'))
('Steak frites', 'Plat principal', Decimal('2.00'))

In [67]:
#  question 22 : Afficher les clients et leurs dernières commandes, incluant les plats commandés.

from sqlalchemy import select , func , desc

cmd = commandes.alias("cmd")
plt = plats.alias("plt")
cp = commande_plats.alias("cp")
clt = clients.alias("clt")


stmt = (
    select(
        clt.c.id.label("client_id"), 
        func.max(cmd.c.date_commande).label("derniere_date")
    )
    .select_from(clt)
    .join(cmd , cmd.c.client_id == clt.c.id)
    .group_by(clt.c.id)
    .subquery()
)

stmt1 = (
    select(
        clt.c.nom.label("nom_client"),
        cmd.c.id.label("id_cmd"),
        cmd.c.date_commande.label("date_cmd"),
        plt.c.nom.label("plat")
    )
    .select_from(clt)
    .join(cmd, cmd.c.client_id == clt.c.id)
    .join(stmt, (stmt.c.client_id == clt.c.id) & (stmt.c.derniere_date == cmd.c.date_commande))
    .join(cp, cp.c.commande_id == cmd.c.id)
    .join(plt, plt.c.id == cp.c.plat_id)
    .order_by(clt.c.nom)
)

with engine.connect() as conn:
    rslt = conn.execute(stmt1)
    for record in rslt:
        print(record)

('Amine Lahmidi', 3, datetime.datetime(2025, 7, 8, 19, 45), 'Coca-Cola')
('Amine Lahmidi', 3, datetime.datetime(2025, 7, 8, 19, 45), 'Steak frites')
('Amine Lahmidi', 3, datetime.datetime(2025, 7, 8, 19, 45), 'Tiramisu')
('Fatima Zahra', 5, datetime.datetime(2025, 9, 1, 20, 0), 'Eau minérale')
('Fatima Zahra', 5, datetime.datetime(2025, 9, 1, 20, 0), 'Falafel wrap')
('Omar Alaoui', 6, datetime.datetime(2025, 9, 10, 12, 15), 'Glace 2 boules')
('Omar Alaoui', 6, datetime.datetime(2025, 9, 10, 12, 15), 'Coca-Cola')
('Sara Benali', 2, datetime.datetime(2025, 7, 7, 13, 0), 'Pizza Margherita')
('Sara Benali', 2, datetime.datetime(2025, 7, 7, 13, 0), 'Soupe de légumes')
('Sara Benali', 2, datetime.datetime(2025, 7, 7, 13, 0), 'Eau minérale')

In [70]:
# question 23 : # Créer une vue virtuelle (SELECT) qui affiche :
            # Le nom du client
            # Les plats commandés
            # Les quantités
            # La date de la commande
            # La note moyenne du plat (via avis)

from sqlalchemy import select, func

plt = plats.alias("plt")
cp = commande_plats.alias("cp")
cmd = commandes.alias("cmd")
av = avis.alias("av")
clt = clients.alias("clt")

stmt = (
    select(
        clt.c.nom.label("nomClient"),
        plt.c.nom.label("nomplat"),
        cp.c.quantite.label("quantite"),
        cmd.c.date_commande.label("date_Commande"),
        func.avg(av.c.note).label("note_moyenne")
    )
    .select_from(clt)
    .join(cmd, clt.c.id == cmd.c.client_id)
    .join(cp, cmd.c.id == cp.c.commande_id)
    .join(plt, plt.c.id == cp.c.plat_id)
    .outerjoin(av, av.c.plat_id == plt.c.id)
    .group_by(clt.c.nom, plt.c.nom, cp.c.quantite, cmd.c.date_commande)  
    .order_by(clt.c.nom, cmd.c.date_commande.desc())
)


##  cette methode permet de transmettre la requete alchemy , to requete sql puis via text il execute sous forme de view 
compiled_sql = stmt.compile(engine, compile_kwargs={"literal_binds": True})


with engine.begin() as conn:
    conn.execute(
        text(f"CREATE OR REPLACE VIEW vue_client_commandes AS {compiled_sql}")
    )

In [77]:
# question 24 : Afficher les fournisseurs dont les ingrédients sont en stock inférieur à 10 unités, avec le coût total des ingrédients en stock.

from sqlalchemy import select, func

fourn = fournisseurs.alias("fourn")
ing = ingredients.alias("ing")

stmt = (
    select(
        fourn.c.nom.label("fournisseur"),
        ing.c.nom.label("nomIngredients"),
        func.sum(ing.c.stock * ing.c.cout_unitaire).label("cout_total_stock")
    )
    .select_from(fourn)
    .join(ing, ing.c.fournisseur_id == fourn.c.id)
    .where(ing.c.stock < 10)
    .group_by(fourn.c.nom, ing.c.nom)
    .order_by(func.sum(ing.c.stock * ing.c.cout_unitaire).desc())
)

with engine.connect() as conn:
    rslt = conn.execute(stmt)
    for record in rslt:
        print(record)

('BevCo', 'Café', Decimal('100.0000'))